{% if ssl_enabled %}
server {
  server_name {{ app_domain }};
  listen 80;

  location / {
    rewrite ^(.*) https://{{ app_domain }}$1 permanent;
  }
}
{% endif %}

upstream {{ app_name }} {
  {% if app_debug_mode %}
  server 0.0.0.0:9393;
  {% else %}
  server unix:/tmp/unicorn.{{ app_name }}.sock fail_timeout=0;
  {% endif %}
}

server {
  server_name {{ app_domain }} 127.0.0.1;

  error_page 500 /500.html;
  proxy_intercept_errors off;

  {% if ssl_enabled %}
  listen 443 ssl;
  {% else %}
  listen 80;
  {% endif %}
  access_log "/var/log/nginx/{{ app_name }}.log";
  error_log "/var/log/nginx/{{ app_name }}-error.log";

  root "{{ app_dir }}/public/";
  {% if app_debug_mode %}
  sendfile off;
  {% endif %}

  error_page 502 /502.html;
  location = /502.html {
    root "{{ app_dir }}/public/";
  }

  keepalive_timeout 5;
  try_files $uri @app;

  add_header Vary Accept;

  gzip             on;
  gzip_min_length  1000;
  gzip_proxied     expired no-cache no-store private auth;
  gzip_types       text/plain application/xml application/x-javascript application/javascript text/css;
  gzip_disable     "MSIE [1-6]\.";
  gzip_vary        on;

  client_max_body_size 20m;

  location @app {
    proxy_set_header           X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header           Host $http_host;

    {% if ssl_enabled %}
    proxy_set_header           X-Forwarded-Proto https;
    {% endif %}
    proxy_redirect             off;
    proxy_pass                 http://{{ app_name }};
  }
}
