<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><% vlock(:title) %>Cuba Skeleton</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" />
    <%== render("shared/favicon_meta.html") %>
  </head>
  <body>
    <% vlock(:body) %>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
