{
  "app_url":"{{ app_url }}",
  "environment":"{{ app_environment }}",
  "session_secret":"{{ session_secret }}",
  "logs_dir":"{{ logs_dir }}",
  "database_name":"{{ database_name }}",
  "database_user":"{{ database_user }}",
  "database_password":"{{ database_password }}"
}
