preload_app(true)

working_directory("{{ app_dir }}")

listen("{{ unicorn_socket_file }}")

worker_processes({{ workers_number }})

timeout(10)

pid("{{ unicorn_pid_file }}")

stderr_path("{{ logs_dir }}/unicorn.stderr.log")
stdout_path("{{ logs_dir }}/unicorn.stdout.log")

before_fork do |server, worker|
  old_pid = "#{server.config[:pid]}.oldbin"

  if old_pid != server.pid
    begin
      sig = (worker.nr + 1) >= server.worker_processes ? :QUIT : :TTOU
      Process.kill(sig, File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
    end
  end

  CubaSkeleton::DB.disconnect

  sleep 1
end
