<% extends("layouts/base.html") %>
<% vlock(:body) do %>
  <header class="mainHeader">
    <div class="contentWrapper">
      <h1 class="mainHeader-title">Cuba Skeleton</h1>
      <h2 class="mainHeader-tagline">
        Skeleton cuba web app. Made by
        <a href="http://citrusbyte.com/" target="_blank">Citrusbyte</a>.
      </h2>
    </div>
  </header>
<% end %>
